.Movies-cards{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.pagination{

    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: .5rem;
}

.pagination button{
    font-size: 1.2rem;
    color: whitesmoke;
    padding: 1rem 1.3rem;
    background-color: #161f31;
    border: .2rem solid #364b75;
    margin: 0 1rem;
    transition: background-color 0.5s ;


}
.pagination button:hover{
    background-color: #364b75 ;
    border: .3rem solid #486295;
}