#menuDiv{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.214);
}
#menuDiv button {
    font-size: 1.3rem;
    margin: 8px;
    padding : 8px 25px;
    background: none;
    color: inherit;
    outline: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    box-shadow: none;
    border: 3PX #FF8A14 SOLID;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    transition: background-color 0.4s;
}
#menuDiv button:hover {
    background-color: rgb(0, 0, 0);
    color: #FF8A14 ;
}
#menuDiv input {
    border: 3PX #FF8A14 SOLID;
    background-color:rgba(0, 0, 0, 0.425) ;
    width: 400px;
    margin-right: 30px;
}

