.Movies-cards {
    color: rgb(198, 198, 252);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 10px
}

.pagination button {
    font-size: 1.3rem;
    margin: 10px;
    padding : 20px 25px;
    background: none;
    color: inherit;
    outline: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    box-shadow: none;
    border: 4PX rgb(91, 102, 187) SOLID;
    transition: background-color 0.4s;
}
.pagination button:hover {
    background-color:rgb(91, 102, 187) ;
}
.pagination button.active {
    background-color:rgb(88, 97, 169);
    color:black ;
}