.seccionBusqueda button,
input,
select {
    background: black;
    color: inherit;
    outline: none;
    display: ;
    border: 3PX #FF8A14 SOLID;
    transition: background-color 0.4s;
    font-size: 1rem;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 0px;
    appearance: none;
    text-align: space-around;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.seccionBusqueda input {
    background: black;
    text-align: left;
    box-shadow: 0 0 5px #8ce436;
    border-radius: 5px;
}

.seccionBusqueda select {
    background-color: transparent;
    box-shadow: 0 0 5px #8ce436;
    text-align: left;
    margin-right: 70px;
    margin-left: 120px;
}

.seccionBusqueda button {
    background-color: transparent;
    box-shadow: 0 0 5px #8ce436;
}

.seccionBusqueda button:hover {
    background-color:rgb(230, 0, 164) ;
    
}

.seccionBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccionBusqueda option {
   background-color: #FF8A14;
}
