.seccionBusqueda button,input,select{
    background: transparent;
    color: inherit;
    outline: none;
    border: 4PX rgb(51, 66, 186) SOLID;
    transition: background-color 0.4s;
    font-size: 1rem;
    margin: 5px;
    padding : 10px 15px;
    border-radius: 0px;
    appearance: none;
    text-align: center;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.seccionBusqueda input{
    background: rgb(45, 45, 109);
    text-align: left;
    
    border-radius: 25px;
}
.seccionBusqueda  select{
    background: rgb(82, 82, 198);
    text-align: left;
}
.seccionBusqueda  button{
    background-color:rgb(51, 66, 186) ;
    box-shadow: 0 0 5px #8ce436;
}

.seccionBusqueda   button:hover {
    background-color:transparent ;
}
.seccionBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
}